#body {
    background-color: burlywood;
}

.new-note {
    position: relative;
    left: 10%;
    width: 100px;
    height: 75px;
    background-color: rgb(212, 147, 100);
    box-shadow: 0px 8px 16px 0px rgba(19, 10, 3, 0.705);
    border-radius: 15px;
    margin-bottom: 10px;
}

.new-note p1 {
    background-color: transparent;
    color: black;
}

.new-note button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.note-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    height: auto;
    background-color: transparent;
}

.note {
    display: table;
    width: 300px;
    height: 225px;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(19, 10, 3, 0.705);
    margin-top: 5px;
    margin-bottom: 5px;
}

.note-title {
    display: table-row;
    width: 100%;
    height: 25px;
    max-width: 300px;
    text-align: center;
}

.note-title > p1 {
    background-color: burlywood;
}

.note-title > p1:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.note-title p1 {
    display: table-cell;
    color: black;
}

.note-content {
    display: table-row;
    width: 100%;
}

.note-content > textarea:first-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.note-content textarea {
    display: table-cell;
    background-color: rgb(212, 147, 100);
    width: 99.4%;
    height: 200px;
    resize: none;
    border: none;
    color: black;
}